.Header {
  border-radius: 4rem;
  overflow: hidden;
  isolation: isolate;
  background: linear-gradient(to top, #c7c7c7 10%, #fff 35%, #fff 65%, #c7c7c7 90% );
  box-shadow: .2rem .2rem 1rem .1rem #000  
}

.Title {
  text-align: center;
  color: black;
  background-clip: text;
  user-select: none;

  font-family: "Chillax";
  margin: 0;
  /* animation: opaque 0.25s linear infinite alternate; */
  /* animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s); */
}
