.Portfolio-Item {
  grid-column: 1;
  grid-row: 1;
}

.Portfolio-Item-Mobile {
  display: flex;
  align-items: center;
}

.Portfolio-Item-DT {
  height: 30vw;
  margin: 2vw;
  padding: 2vw;
}

.Slide-In-From-Right {
  animation: inFromRight 0.75s ease-in-out forwards;
}
.Slide-In-From-Left {
  animation: inFromLeft 0.75s ease-in-out forwards;
}
.Slide-Out-To-Right {
  animation: outToRight 0.75s ease-in-out forwards;
}
.Slide-Out-To-Left {
  animation: outToLeft 0.75s ease-in-out forwards;
}

@keyframes inFromRight {
  from {
    opacity: 0;

    transform: translateX(50vw) scaleY(0.85);
  }
  to {
    opacity: 1;
    transform: translateX(0vw) scaleY(1);
  }
}

@keyframes outToRight {
  from {
    opacity: 1;
    transform: translateX(0vw) scaleY(1);
  }
  to {
    opacity: 0;
    transform: translateX(50vw) scaleY(0.85);
  }
}

@keyframes outToLeft {
  from {
    opacity: 1;
    transform: translateX(0vw) scaleY(1);
  }
  to {
    opacity: 0;

    transform: translateX(-50vw) scaleY(0.85);
  }
}

@keyframes inFromLeft {
  from {
    opacity: 0;
    transform: translateX(-50vw) scaleY(0.85);
  }
  to {
    opacity: 1;
    transform: translateX(0vw) scaleY(1);
  }
}

.App-Screenshots-DT {
  width: 24vw;
  right: -2rem;
}

.App-Screenshots {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}
.Icon {
  position: absolute;
  opacity: 0.1;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  text-align: center;
}

.App-Screenshots-Mobile {
  width: 35vw;
}
