.Portfolio-Item {
  border-radius: 0.5em;
  margin:1em;
  padding:2em;
  display: flex;
  grid-column: 1;
  grid-row: 1;
}

.Portfolio-Item-Selected {
  visibility: visible;
}
.Portfolio-Item-Unselected {
  visibility: hidden;
}

.Slide-In-From-Right {
  animation: inFromRight .75s ease-in-out forwards;
}
.Slide-In-From-Left {
  animation: inFromLeft .75s ease-in-out forwards;
}
.Slide-Out-To-Right {
  animation: outToRight .75s ease-in-out forwards;
}
.Slide-Out-To-Left {
  animation: outToLeft .75s ease-in-out forwards;
}

@keyframes inFromRight {
  from {
    opacity: 0;
    transform: translateX(90vw);
  }
  to {
    opacity: 1;
    transform: translateX(0vw);
  }
}

@keyframes outToRight {
  from {
    opacity: 1;
    transform: translateX(0vw);
  }
  to {
    opacity: 0;
    transform: translateX(90vw);
  }
}

@keyframes outToLeft {
  from {
    opacity: 1;
    transform: translateX(0vw);
  }
  to {
    opacity: 0;
    transform: translateX(-90vw);
  }
}

@keyframes inFromLeft {
  from {
    opacity: 0;
    transform: translateX(-90vw);
  }
  to {
    opacity: 1;
    transform: translateX(0vw);
  }
}

.Screenshots-Mobile {
  width: 50vw;
}

.Screenshots-DT {
  width: 30vw;
  right: -2em;

}

.TM-App-Screenshots {
  position: absolute;
  top: 0; 
  bottom: 0; 
  margin-top: auto; 
  margin-bottom: auto; 

}
.Icon {
  position: absolute;
  opacity: 0.1;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  text-align: center;
}

.Portfolio-Item-Title {
}

.Portfolio-Item-Mobile {
  border-radius: 2rem;
  box-shadow: 0px 0px 5px 1px #000;
}