.About-Me {
  z-index: 10;
  position: relative;
  background: linear-gradient(to top, #041024, #040a12);
  padding-top: 6rem;
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.No-Show {
  visibility: hidden;
}

.Words-Slide-In {
  animation: slideIn 1.5s ease-in forwards;
}

.Words-Slide-In-Mobile {
  animation: slideInMobile 1s ease-in forwards;
}

@keyframes slideIn {
  0% {
    left: 80vw;
  }
  75% {
    left: 0vw;
  }
  80% {
    left: -2vw;
  }
  90% {
    left: 1vw;
  }
  100% {
    left: 0vw;
  }
}

@keyframes slideInMobile {
  0% {
    left: 80vw;
  }
  75% {
    left: 0vw;
  }
  80% {
    left: -6vw;
  }
  90% {
    left: 3vw;
  }
  100% {
    left: 0vw;
  }
}

.AboutMe-Top-Row-Fade-In {
  animation: slideUpAboutMe 0.5s cubic-bezier(0.68, 0.22, 0.43, 1.49) forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideUpAboutMe {
  from {
    transform: translateY(12rem);
  }
  to {
    transform: translateY(0rem);
  }
}

h3 {
  font-family: "Chillax";
  font-size: 1.8rem;
  margin: 0px;
  color: #fff;
}

.About-Menu-Item {
  padding: 1rem;
  flex: 1;
  position: relative;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 0.5rem;
  background-color: #040a12;
}

.About-Menu-Item:hover {
  background-color: #081b38;
  cursor: pointer;
}
.Not-Expanded-Div {
  justify-content: center;
}

.About-Me-Text {
  border-style: solid;
  box-shadow: 2px 2px 2px #000;
  border-width: 0.2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  border-color: #000;
}

.No-Display {
  display: none;
}
.Grid {
  display: grid;
}
