.Portfolio {
  background: linear-gradient(#0b0e11, #1d2024);
  width: 100%;
  z-index: 100;
  padding-top: 6rem;
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow-x:hidden;
}

h2 {
  margin: 0px;
  font-family: "Chillax";
  font-size: 3vw;
  color: #ffffff;
  user-select: none;
}

@keyframes opaque {
  from {
    background-image: linear-gradient(90deg, #ffffffff 10%, #ffffff00);
  }
  to {
    background-image: linear-gradient(90deg, #ffffff, #ffffffff);
  }
}

@keyframes scroll {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5em);
  }
}

.Portfolio-Item-Description-Div {
  display: flex;
  flex-direction: column;
  top: 1rem;
  align-items: center;
}
.Portfolio-Item-Text-DT {
  justify-content: space-between;
  width: 39vw;
}
.Right {
  right: 0px;
  background: linear-gradient(to left, #32373e 40%, #32373e00);
}
.Left {
  left: 0px;
  background: linear-gradient(to right, #32373eff 40%, #32373e00);
}

.Fade-Out-Box {
  position: absolute;
  height: 24vw;
  width: 6rem;
  z-index: 1;
}

.Portfolio-Container {
  width: 80vw;
  justify-content: center;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.Current-Portfolio-Item {
  width: 74vw;
  display: grid;
  overflow: visible;
}

.Left-Arrow-Mobile {
  position: absolute;
  animation: bounceLeft 3s linear infinite;
  left: 0.25rem;
  width: 8vw;
}
.Right-Arrow-Mobile {
  position: absolute;
  right: 0.25rem;
  animation: bounceRight 3s linear infinite;

  width: 8vw;
}
.Arrows-DT {
  width: 3vw;
}
.Arrows {
  display: flex;
  align-items: center;
  z-index: 10;
}

.Arrow-Right:hover .Arrow-SVG {
  animation: bounceRight 3s linear infinite;
}

.Arrow-Left:hover .Arrow-SVG {
  animation: bounceLeft 3s linear infinite;
}

@keyframes bounceRight {
  0% {
    transform: translateX(0vw) scaleY(1);
  }
  8% {
    transform: translateX(1vw) scaleY(0.9);
  }
  10% {
    transform: translateX(1.5vw) scaleY(0.8);
  }
  12% {
    transform: translateX(1vw) scaleY(0.9);
  }
  20% {
    transform: translateX(0vw) scaleY(1);
  }
  28% {
    transform: translateX(1vw) scaleY(0.9);
  }
  30% {
    transform: translateX(1.5vw) scaleY(0.8);
  }
  32% {
    transform: translateX(1vw) scaleY(0.9);
  }
  40% {
    transform: translateX(0vw) scaleY(1);
  }
}

@keyframes bounceLeft {
  0% {
    transform: translateX(0vw) scaleY(1);
  }
  8% {
    transform: translateX(-1vw) scaleY(0.9);
  }
  10% {
    transform: translateX(-1.5vw) scaleY(0.8);
  }
  12% {
    transform: translateX(-1vw) scaleY(0.9);
  }
  20% {
    transform: translateX(0vw) scaleY(1);
  }
  28% {
    transform: translateX(-1vw) scaleY(0.9);
  }
  30% {
    transform: translateX(-1.5vw) scaleY(0.8);
  }
  32% {
    transform: translateX(-1vw) scaleY(0.9);
  }
  40% {
    transform: translateX(0vw) scaleY(1);
  }
  100% {
    transform: translateX(0vw) scaleY(1);
  }
}
