.No-Show {
  visibility: hidden;
}


.Words-Slide-In {
  animation: slideIn 1.5s ease-in forwards;
}

.Words-Slide-In-Mobile {
    animation: slideInMobile 1s ease-in forwards;
  }

@keyframes slideIn {
  0% {
    left: 80vw;
  }
  75% {
    left: 0vw;
  }
  80% {left: -2vw;}
  90% {left: 1vw;}
  100% {left: 0vw;}
}


@keyframes slideInMobile {
  0% {
    left: 80vw;
  }
  75% {
    left: 0vw;
  }
  80% {left: -6vw;}
  90% {left: 3vw;}
  100% {left: 0vw;}
}

.AboutMe-Top-Row-Fade-In {
  animation: fadeIn 2s ease-in forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

h3 {
  font-family: 'Chillax';
  font-size:1.8em;
  padding-right: 1em;
  margin:0px;
  color: #fff;
}

.About-Menu-Item {
  padding:1rem;
  border-radius: 0.5rem;
  border-color: #ffffff30;
  background-color: #0b0e11;
}
.About-Menu-Item:hover {
  background-color: #ffffff30;
  cursor:pointer;
  
}