.Invisible {
  opacity: 0;
}
.Gone {
  transform: translateX(100vw);
}

.Slide-Up {
  animation: slideUp 0.4s forwards linear;
}

@keyframes slideUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  75% {
    transform: translateY(10px);
    opacity: 0.9;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.Flow-In > .Title {
  animation: flowInText 1s forwards ease-in-out;
}

.Flow-In > p {
  animation: flowInText 1s forwards linear;
}

.Flow-In > .Inner-About-Menu-Item > p {
  animation: flowInText 1s forwards linear;
}

@keyframes flowInText {
  0% {
    opacity: 0;
    transform: scaleX(.5) scaleY(.5);
  }
  50% {
    opacity: 0;
    transform: scaleX(.5) scaleY(.5);

  }
  100% {
    opacity:1;
    transform: scaleX(1) scaleY(1);

  }
}

.Flow-In {
  animation: flowIn 1s forwards linear;
}

.Fade-Out {
  animation: fadeOut 1s forwards linear;
}
@keyframes fadeOut {
  from {
    opacity:1
  }
  to {
    opacity:0;
  }
}

.Fade-In {
  animation: fadeIn 1s forwards linear;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes flowIn {
  0% {
    opacity: 0;
  }
  3.5% {
    opacity: 1;
    background: radial-gradient(ellipse at center, #fff, transparent 10%);
    box-shadow: 0px 0px 0rem 0rem #fff;
  }
  7% {
    opacity: 1;
    background: radial-gradient(ellipse at center, #fff, transparent 20%);
    box-shadow: 0px 0px 0rem 0rem #fff;
  }
  10.5% {
    opacity: 1;
    background: radial-gradient(ellipse at center, #fff, transparent 30%);
    box-shadow: 0px 0px 0rem 0rem #fff;
  }
  14% {
    opacity: 1;
    background: radial-gradient(ellipse at center, #fff, transparent 40%);
    box-shadow: 0px 0px 0rem 0rem #fff;
  }
  17.5% {
    opacity: 1;
    background: radial-gradient(ellipse at center, #fff, transparent 50%);
    box-shadow: 0px 0px 0rem 0rem #fff;
  }

  21% {
    opacity: 1;
    background: radial-gradient(ellipse at center, #fff, transparent 60%);
    box-shadow: 0px 0px 0rem 0rem #fff;
  }
  24.5% {
    opacity: 1;
    background: radial-gradient(ellipse at center, #fff, transparent 70%);
    box-shadow: 0px 0px 0rem 0rem #fff;
  }
  28% {
    opacity: 1;
    background: radial-gradient(ellipse at center, #fff, transparent 80%);
    box-shadow: 0px 0px 0rem 0rem #fff;
  }
  31.5% {
    opacity: 1;
    background: radial-gradient(ellipse at center, #fff, transparent 90%);
    box-shadow: 0px 0px 0rem 0rem #fff;
  }
  35% {
    opacity: 1;
    background: radial-gradient(ellipse at center, #fff, transparent 100%);
    box-shadow: 0px 0px 0rem 0rem #fff;
  }

  38.5% {
    opacity: 1;

    background: radial-gradient(ellipse at center, #fff, #fff);
    box-shadow: 0px 0px 0rem 0rem #fff;
  }
  42% {
    opacity: 1;

    background: radial-gradient(ellipse at center, #fff, #fff);
    box-shadow: 0px 0px 0rem 1rem #fff;
  }
  45.5% {
    opacity: 1;

    background: radial-gradient(ellipse at center, #fff, #fff);
    box-shadow: 0px 0px 1rem 1rem #fff;
  }
  49% {
    opacity: 1;

    background: radial-gradient(ellipse at center, #fff, #fff);
    box-shadow: 0px 0px 0rem 1rem #fff;
  }
  52.5%{
    opacity: 1;

    background: radial-gradient(ellipse at center, #fff, #fff);
    box-shadow: 0px 0px 0rem 0rem #fff;
  }
  56% {
    opacity: 1;
    background: radial-gradient(ellipse at center, #fff, transparent 100%);
    box-shadow: 0px 0px 0rem 0rem #fff;
  }
  59.5% {
    opacity: 1;
    background: radial-gradient(ellipse at center, #fff, transparent 90%);
    box-shadow: 0px 0px 0rem 0rem #fff;
  }
  63% {
    opacity: 1;
    background: radial-gradient(ellipse at center, #fff, transparent 80%);
    box-shadow: 0px 0px 0rem 0rem #fff;
  } 
  66.5%{
    opacity: 1;
    background: radial-gradient(ellipse at center, #fff, transparent 70%);
    box-shadow: 0px 0px 0rem 0rem #fff;
  }
  70%{
    opacity: 1;
    background: radial-gradient(ellipse at center, #fff, transparent 60%);
    box-shadow: 0px 0px 0rem 0rem #fff;
  }
  73.5%{

    opacity: 1;
    background: radial-gradient(ellipse at center, #fff, transparent 50%);
    box-shadow: 0px 0px 0rem 0rem #fff;
  }
  77%{
    opacity: 1;
    background: radial-gradient(ellipse at center, #fff, transparent 40%);
    box-shadow: 0px 0px 0rem 0rem #fff;
  }
  80.5%{
    opacity: 1;
    background: radial-gradient(ellipse at center, #fff, transparent 30%);
    box-shadow: 0px 0px 0rem 0rem #fff;
  }
  84% {
    opacity: 1;
    background: radial-gradient(ellipse at center, #fff, transparent 20%);
    box-shadow: 0px 0px 0rem 0rem #fff;
  }
  87.5% {
    opacity: 1;
    background: radial-gradient(ellipse at center, #fff, transparent 10%);
    box-shadow: 0px 0px 0rem 0rem #fff;
  }
  91%{  
    opacity: 1;
    box-shadow: 0px 0px 0rem 0rem #fff;
  }
}
