.Invisible {
  opacity: 0;
}
.Gone {
  transform: translateX(100vw);
}

.Slide-Up {
  animation: slideUp 0.4s forwards linear;
}

@keyframes slideUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  75% {
    transform: translateY(10px);
    opacity: 0.9;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.Flow-In > .Title {
  animation: flowInText .65s forwards ease-out;
}

.Flow-In > p {
  animation: flowInText .65s forwards ease-out;
}

@keyframes flowInText {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
}

.Flow-In {
  animation: flowIn .65s forwards ease-out;
}

.Fade-In {
  animation: fadeIn .65s forwards ease-out;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes flowIn {
  0% {
    opacity: 0;
  }
  7% {
    opacity: 1;
    background: radial-gradient(ellipse at center, #fff, transparent 10%);

    box-shadow: 0px 0px 0rem 0rem #fff;
  }
  14% {
    opacity: 1;
    background: radial-gradient(ellipse at center, #fff, transparent 20%);

    box-shadow: 0px 0px 0rem 0rem #fff;
  }
  21% {
    opacity: 1;
    background: radial-gradient(ellipse at center, #fff, transparent 30%);

    box-shadow: 0px 0px 0rem 0rem #fff;
  }
  28% {
    opacity: 1;
    background: radial-gradient(ellipse at center, #fff, transparent 40%);

    box-shadow: 0px 0px 0rem 0rem #fff;
  }
  35% {
    opacity: 1;
    background: radial-gradient(ellipse at center, #fff, transparent 50%);

    box-shadow: 0px 0px 0rem 0rem #fff;
  }

  42% {
    opacity: 1;
    background: radial-gradient(ellipse at center, #fff, transparent 60%);

    box-shadow: 0px 0px 0rem 0rem #fff;
  }
  49% {
    opacity: 1;
    background: radial-gradient(ellipse at center, #fff, transparent 70%);

    box-shadow: 0px 0px 0rem 0rem #fff;
  }
  56% {
    opacity: 1;
    background: radial-gradient(ellipse at center, #fff, transparent 80%);

    box-shadow: 0px 0px 0rem 0rem #fff;
  }
  63% {
    opacity: 1;
    background: radial-gradient(ellipse at center, #fff, transparent 90%);

    box-shadow: 0px 0px 0rem 0rem #fff;
  }
  70% {
    opacity: 1;
    background: radial-gradient(ellipse at center, #fff, transparent 100%);

    box-shadow: 0px 0px 0rem 0rem #fff;
  }

  77% {
    opacity: 1;

    background: radial-gradient(ellipse at center, #fff, #fff);

    box-shadow: 0px 0px 0rem 0rem #fff;
  }
  84% {
    opacity: 1;

    background: radial-gradient(ellipse at center, #fff, #fff);

    box-shadow: 0px 0px 0rem 1rem #fff;
  }
  91% {
    opacity: 1;

    background: radial-gradient(ellipse at center, #fff, #fff);

    box-shadow: 0px 0px 1rem 1rem #fff;
  }
  100% {
    opacity: 1;

    box-shadow: none;
  }
}
