body {
  background-color: #0a0d11;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 0.2em;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}

html {
  font-family: "Chillax", sans-serif;
}

:root {
  --grey: #505050;
}

@property --p {
  syntax: "<color>";
  inherits: false;
  initial-value: #ffffffff;
}

@keyframes backgroundPulse {
  from {
    --p: #ffffff00;
  }
  to {
    --p: #ffffff10;
  }
}
.NamePlateBackground {
  /* animation: backgroundPulse 2s linear infinite alternate; */
  /* Is the below needed? */
  animation: backgroundPulse 1.5s ease-in-out infinite alternate;
  background: radial-gradient(var(--p) 0%, #0a0d11 50%);
}

.NamePlate {
  animation: fillNamePlate 1.5s ease-in-out infinite alternate,
    pulsingLight 1.5s ease-in-out infinite alternate;
}

@keyframes fillNamePlate {
  from {
    fill: #ffffff00;
  }
  to {
    box-shadow: 0px 0px 0px #ffffff;
    fill: #ffffff80;
  }
}

@keyframes pulsingLight {
  from {
    filter: drop-shadow(0px 0px 0px #fff);
  }

  to {
    filter: drop-shadow(0px 0px 8px #fff);
  }
}

.App-link {
  color: #61dafb;
}

@keyframes CarGo-Slide-In-Mobile {
  from {
    transform: rotate(-360deg);
    right: min(62.5vw);
  }
  to {
    transform: rotate(0);
    right: 0px;
  }
}

@keyframes CarGo-Slide-In-Desktop {
  from {
    transform: rotate(-660deg);
    right: min(62.5vw);
  }
  to {
    transform: rotate(0);
    right: 0px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.No-Show {
  visibility: hidden;
}

.Fade-Out {
  animation: textGrow 1s ease-in-out forwards;
}

@keyframes textGrow {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(1em);
  }
}

@keyframes bob {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50px);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .CarGo-Slide-In-Mobile {
    animation: CarGo-Slide-In-Mobile 2.5s ease-out;
  }
  .CarGo-Slide-In-Desktop {
    animation: CarGo-Slide-In-Desktop 2.5s ease-out;
  }
}

p {
  user-select: none;
  color: #f2f5fa;
  font-size: 1rem;
  font-family: "Gill Sans";
  margin: 0px;
}

@font-face {
  font-family: "ChillaxBold";
  src: url(./Fonts/Chillax-Bold.ttf) format("truetype"),
    url(./Fonts/Chillax-Bold.otf) format("opentype");
}
@font-face {
  font-family: "Chillax";
  src: url(./Fonts/Chillax-Regular.ttf) format("truetype"),
    url(./Fonts/Chillax-Regular.otf) format("opentype");
}

.Nav-Bar-Item {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.25rem;
  border-width: 1px;
  border-style: solid;
  border-color: #c8d4e6;
  background-color: #0a0d11;
  box-sizing: border-box;
}

.Nav-Bar-Item:hover {
  background: radial-gradient(ellipse at bottom, #c8d4e6, #0a0d11 45%);
}
