.Portfolio {
  background: linear-gradient(#0a0d11, #32373e 8em);
  width: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

h2 {
  margin: 0px;
  font-family: "Chillax";
  font-size: 3vw;
  color: #ffffff;
  user-select: none;
}

@keyframes opaque {
  from {
    background-image: linear-gradient(90deg, #ffffffff 10%, #ffffff00);
  }
  to {
    background-image: linear-gradient(90deg, #ffffff, #ffffffff);
  }
}

@keyframes scroll {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5em);
  }
}

.Portfolio-Box-Container {
  overflow: auto;
  height: 100%;
  width: 80vw;
  white-space: nowrap;
  padding-top: 6em;
  padding-bottom: 6em;
}

.Portfolio-Box-Inner {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Portfolio-Box:hover {
  animation: pulsing 2s ease-in-out infinite alternate;
}

@keyframes pulsing {
  from {
    box-shadow: 0px 0px 6px #ffffff00;
  }
  to {
    box-shadow: 0px 0px 6px #fff;
  }
}

.Portfolio-Box {
  width: 80%;
  height: 24vw;
  margin-right: 3em;
  margin-left: 6em;
  border-radius: 2%;
  display: inline-block;
  background-color: white;
  cursor: pointer;
}

.Portfolio-Item-Description-Div {
  display: flex;
  flex-direction: column;
  top: 1em;
  align-items: center;
}
.Portfolio-Item-Text {
  width: 90%;
  word-break: normal;
  white-space: normal;
}
.Right {
  right: 0px;
  background: linear-gradient(to left, #32373e 40%, #32373e00);
}
.Left {
  left: 0px;
  background: linear-gradient(to right, #32373eff 40%, #32373e00);
}

.Fade-Out-Box {
  position: absolute;
  height: 24vw;
  width: 6em;
  z-index: 1;
}


.Portfolio-Container {
  width: 100vw;
  padding-top: 6em;
  padding-bottom: 6em;
  display: flex;
  flex-direction: row;
}
.Current-Portfolio-Item {
    width: 88vw;
    display:grid;
    overflow:hidden;
}

.Arrows {
    display:flex;
    justify-content: center;
    width: 6vw;
    cursor: pointer;
}
